{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint",
      "require-extensions"
    ],
    "rules": {
        "@typescript-eslint/no-inferrable-types": 0,
        "@typescript-eslint/ban-ts-comment": 0,
        "@typescript-eslint/no-namespace": 0,
        "@typescript-eslint/ban-types": ["error", {
            "extendDefaults": true,
            "types": {
                "object": false
            }
        }],
        "@typescript-eslint/no-unused-vars": 0
    },
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:require-extensions/recommended"
    ]
}
