body.dark {
    --main-background-color: #292848;
    --sidebar-background-color: #262544;
    --text-color: #a6aec1;
    --site-title-color: #ebe8e8;;
    --site-title-color-hovered: #d4d4d4;
    // --icon-color: #a393f0;
    // --icon-color-hovered: #8b79e6;
    --icon-color: #88a0ff;
    --icon-color-hovered: #7375fa;
    --icon-background: #0f0f1c;
    --heading-color: #b9bed0;
    --h1-color: #e4eaff;
    --a-color: #88a0ff;
    --a-color-hovered: #7375fa;
    --module-color: #dbdaee;
    --module-color-hovered: #deddf2;
    --module-color-selected: #deddf2;
    --module-background-color-selected: #3d3f91;
    --module-background-color-hovered: #2e2c58;
    --submodule-color: #afaeca;
    --code-background-color: #252442;
    --code-text-color: #b6b6cc;
    --code-token-color: #937dd0;
    --code-string-color: #eda6ff;
    --code-number-color: #96e0f6;
    --code-symbol-color: #a3c0ff;
    --code-comment-color: #6d6c9f;
    --code-plain-text-background-color: #252440;
    --search-background-color: #1c1b39;
    --search-icon-color: #3a3968;
    --search-placeholder-color: #7877be;
    --search-border-color-active: #3a3968;
    --annotation-background-color: #3f3986;
    --annotation-hover-background-color: #312a81;
}
