body {
    --main-background-color: #dbdbdb;
    --sidebar-background-color: #d2d4d7;
    // --sidebar-background-color: #363551;
    // --sidebar-background-color: #262544;
    --text-color: #292848;
    --site-title-color: #313131;;
    --site-title-color-hovered: #5f5f5f;
    --icon-color: #a9a6b7;
    --icon-color-hovered: #7375fa;
    --icon-background: #ffffff00;
    --heading-color: #5b5b5b;
    --h1-color: #2b2b2b;
    --a-color: #5c7dff;
    --a-color-hovered: #3f66ff;
    --module-color: #2b2b2c;
    --module-color-hovered: #2b2b2c;
    --module-color-selected: #deddf2;
    --module-background-color-selected: #6a6a71;
    --module-background-color-hovered: #aeb1b4;
    --submodule-color: #4e4e4e;
    --code-background-color: #cacad2;
    --code-text-color: #696482;
    --code-token-color: #7461a8;
    --code-string-color: #a65f8a;
    --code-number-color: #4b868c;
    --code-symbol-color: #763cb0;
    --code-comment-color: #88a;
    --code-plain-text-background-color: #cfced9;
    --search-background-color: #c8c8d0;
    --search-icon-color: #6A6A71;
    --search-placeholder-color: #77778A;
    --search-border-color-active: #6A6A7177;
    --annotation-background-color: #7890ca;
}
