@import "mixins.scss";

.links {
    @include unstyled-list;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;

    > li:not(:last-child) {
        margin-right: 2em;
    }

    .icon > svg {
        height: 25px;
    }
}

a, a:visited {
    color: var(--a-color);
    transition: color 0.1s ease;
}

a:hover {
    color: var(--a-color-hovered);
}
