@import "mixins.scss";

.links {
    @include unstyled-list;

    display: flex;
    justify-content: flex-end;
    margin-left: auto;

    > li:not(:last-child) {
        margin-right: 1em;
    }
}

a, a:visited {
    color: #88a0ff;
}

a:hover {
    color: #7375fa;
}
