@import "syntax-highlighting.scss";
@import "links.scss";
@import "sidebar.scss";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    margin: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

.main-body {
    display: flex;
    height: 100%;
    margin: 0 auto;
}

.main-content {
    height: 100%;
    flex: 0 1 100%;
}
