@import "syntax-highlighting.scss";
@import "links.scss";
@import "sidebar.scss";
@import "page.scss";
@import "light.scss";
@import "dark.scss";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    margin: 0;
    overflow: hidden;
}

body, html {
    height: 100%;
    width: 100%;
}

.main-body {
    display: flex;
    height: 100%;
    margin: 0 auto;
}

.main-content {
    height: 100%;
    flex: 0 1 100%;
    background-color: var(--main-background-color);
    color: var(--text-color);
    padding: 0.5em 6em 0em 3em;
    transition: background-color 0.5s ease, color 0.5s ease;
    overflow-y: auto;
}
