@mixin unstyled-list {
    list-style: none;
    padding: 0;
}

@mixin unstyled-button {
    outline: none;
    background: none;
    box-shadow: none;
    border: none;
    text-align: initial;
    font-size: initial;
    font-family: inherit;
}
