@import "variables.scss";
@import "mixins.scss";

nav ul {
    @include unstyled-list;

    transition: height 0.1s ease;
    overflow: hidden;

    > li {
        width: 100%;

        > .module, > .submodule {
            display: block;
            width: 100%;
            border-radius: 12px;
            padding: 3px 7px;
            transition: color 0.1s ease, background-color 0.1s ease;

            &:hover, &.selected {
                color: var(--module-color-hovered);
            }

            &.selected {
                background-color: var(--module-background-color-selected);
            }

            &:hover {
                background-color: var(--module-background-color-hovered);
            }
        }

        &.module:not(:first-child) {
            margin-top: 1em;
        }

        > .module {
            @include unstyled-button;

            cursor: pointer;

            > a {
                color: var(--module-color);
                transition: color 0.1s ease;
            }

            &:hover > a, &.selected > a {
                color: var(--module-color-hovered);
            }
        }

        > .submodule {
            color: var(--submodule-color);
            font-size: 0.95em;
        }
    }
}

.module-list > ul {
    margin-left: 0.8em;
}

.module-list li {
    margin-top: 0.2em;
}
