@import "variables.scss";
@import "mixins.scss";

nav {
    position: relative;
}

nav ul {
    @include unstyled-list;

    transition: height 0.1s ease;
    overflow: hidden;

    margin-bottom: 0.5em;

    > li {
        width: 100%;

        > .module, > .submodule {
            display: block;
            width: 100%;
            border-radius: 12px;
            padding: 3px 7px;
            transition: color 0.1s ease, background-color 0.1s ease;

            &.selected {
                color: var(--module-color-selected);
                background-color: var(--module-background-color-selected);
            }

            &:hover {
                color: var(--module-color-hovered);
                background-color: var(--module-background-color-hovered);
            }
        }

        &.module:not(:first-child) {
            margin-top: 1em;
        }

        > .module {
            @include unstyled-button;

            cursor: pointer;

            > a {
                color: var(--module-color);
                transition: color 0.1s ease;
            }

            &:hover > a {
                color: var(--module-color-hovered);
            }

            &.selected > a {
                color: var(--module-color-selected);
            }
        }

        > .submodule {
            color: var(--submodule-color);
            font-size: 0.95em;
        }
    }
}

.module-list > ul {
    margin-left: 0.8em;

    &.collapsed {
        height: 0 !important;
    }
}

.module-list li {
    margin-top: 0.2em;
}

.search-list > li {
    transition: opacity 0.5s ease;
}

nav > ul {
    position: absolute;
    width: 100%;
    margin: 0;
    transition: height 0.1s ease, opacity 0.5s ease;

    &.hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: height 0.1s ease, opacity 0.5s ease, visibility 0s linear 0.5s;
    }
}
