h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
    transition: color 0.5s ease;
    font-weight: normal;
    letter-spacing: 1px;
}

h1 {
    color: var(--h1-color);
    font-size: 1.9rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 1.2em;
}

p {
    line-height: 150%;
}

.description {
    margin: 1.5em 0;
}

.parameters, .submodules-table {
    width: 100%;
    border-collapse: collapse;
    background: var(--code-background-color);
    border-radius: 16px;
    transition: background-color 0.5s ease;
    font-size: 11pt;

    td {
        padding: 0.5em 1em;

        > p:first-child {
            margin-top: 0;
    }

        > p:last-child {
            margin-bottom: 0;
        }
    }

    thead {
        text-transform: uppercase;
        font-size: 0.95em;
        letter-spacing: 0.08em;
        font-weight: 600;
        opacity: 0.35;
    }

    td:first-child {
        width: 1%;
        white-space: nowrap;
    }
}

.parameter, .type-parameter {
    font-size: 1.05em;

    > code {
        color: var(--code-text-color);
        font-weight: bold;
        margin-bottom: 3px;
    }
}

.indicator {
    text-transform: uppercase;
    color: var(--module-color-selected);
    background: var(--annotation-background-color);
    border-radius: 8px;
    padding: 2px 6px;
    margin-left: 1em;
    font-size: 9.5pt;
    letter-spacing: 0.7px;
    transition: background-color 0.5s ease;
}

.documentation-section > ol > li, .documentation-section > ul > li {
    margin-bottom: 0.3em;
}
