@import "nav.scss";
@import "mixins.scss";
@import "search.scss";

.sidebar {
    height: 100%;
    flex: 0 0 18em;
    background-color: var(--sidebar-background-color);
    padding: 15px 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
    overflow-y: auto;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
}

.site-title {
    font-size: 2rem;

    > a {
        color: var(--site-title-color);
        transition: color 0.5s ease;

        &:hover {
            color: var(--site-title-color-hovered);
        }
    }
}

.night-switch {
    @include unstyled-button;
    cursor: pointer;
}

.moon {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
    border-radius: 50%;
    background: var(--icon-background);
    border: 2px solid currentColor;
    transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;

    &:hover {
        color: var(--icon-color-hovered);
    }

    > svg {
        height: 17px;
    }
}
