@import "nav.scss";

.sidebar {
    height: 100%;
    flex: 0 0 18em;
    background-color: var(--sidebar-background-color);
    padding: 15px 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.site-title {
    font-size: 2rem;

    > a {
        color: var(--site-title-color);

        &:hover {
            color: var(--site-title-color-hovered);
        }
    }
}
