@import "rouge.scss";

code, .code {
    font-family: 'Fira Mono', 'Fira Code', 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 0.82em;
    color: var(--code-token-color);
    margin: 0 1px;
    border-radius: 5px;
    padding: 4px 5px;
    transition: color 0.5s ease;
}

code {
    background: var(--code-plain-text-background-color);
    transition: color 0.5s ease, background-color 0.5s ease;
}

div.highlight {
    padding: 1px 1em;
    border-radius: 10px;
    font-size: 10.5pt;
    line-height: 150%;
    min-width: 100%;

    code {
        font-size: inherit;
        color: inherit;
        background: inherit;
        margin: 0;
        border-radius: 0;
        padding: 0;
        transition: none;
    }
}

a > code {
    color: inherit;
}
